
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,500;1,700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
}
input {
    outline: none;
    border:none;
    width: 100%;
    height: 30px;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: gainsboro;
    }
input:focus {
    background: black;
    transform: scale(1.1);
}
 #Total {
    background: #a00d02;
    border-radius: 4px;
 }
 #Total::before {
    content: 'Total:';
 }